//公共变量
// 颜色定义规范
//内容部分被按钮遮挡住的部分
$content-margin-bottom = 55px
$head-height = 40px

// 课程列表缩略图大小
previewSize()
  width 100%
  height 12rem

//********************************************

//公共方法
//宽高相同
widthToHeight(data)
    width data
    height @wdith
// 不换行
no-wrap()
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
//********************************************


//公共class
.text-center
  text-align: center
.text-left
  text-align: left
.text-right
  text-align: right
.fl-right
  float: right
.fl-left
  float: left
  //********************************************